/* Basic styling for layout */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(145, 50%, 10%);
}

/* Container for the entire page */
#main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#main-header {
  height: 86px;
}

#main-footer {
  color: hsl(85, 80%, 80%);
}

/* Header/banner styling */
#banner {
    width: 100%;
    height: 150px;
    background-image: url('../img/banner.jpg');
    background-color: hsl(145, 50%, 10%);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px -4px 10px 10px hsl(124 35% 10%);
    background-blend-mode: hard-light;
}

.flash-messages {
	position: fixed;
	top: 20px;
	left: 20px;

	padding: 12px 20px;
	margin-bottom: 15px;
	border: 1px solid transparent;

	z-index: 9999; /* ensures this element is on top */
}

.flash-messages .alert {
	margin-bottom: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	padding: 12px 20px;
	border-radius: 4px;
	font-weight: bold;
	transition: opacity 0.5s ease, transform 0.5s ease; /* fade / slide anim */
  color: hsl(120 96% 92%);
}

.alert-success {
	background-color: hsl(161 100% 17%);
	border-color: hsl(161 100% 37%);
}

.alert-warning {
	background-color: hsl(53 100% 15%);
	border-color: hsl(53 100% 35%);
}

.alert-danger {
	background-color: hsl(7 51% 41%);
	border-color: hsl(7 51% 61%);
}

.alert-info {
	background-color: hsl(217 54% 44%);
	border-color: hsl(217 54% 64%);
}

.flash-messages .close-btn {
	position: relative;
	top: 0px;
	right: -5px;
	cursor: pointer;
}

/* Main content area */
.main-content {
    display: flex;
    flex: 1;
}

.content {
  margin-left: 8px;
  background-color: hsl(145, 30%, 25%,81%);
  color: hsl(145, 50%, 5%);
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  flex-grow: 2;
  border-radius: 12px;
}

/* Sidebar menu */
.sidebar {
    width: 200px;
    background-color: hsl(145, 50%, 90%,85%);
    color: hsl(145, 50%, 10%);
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sidebar h2 {
    font-size: 18px;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

/* RIGHT sidebar menu (not always visible) */
#right-sidebar {
  flex-grow: 1;
}

/* Blog post container */
.blog-post-strip {
  width: 40vw;
  overflow-y: auto;
}

.blog-post {
    margin-bottom: 20px;
    padding: 12px;
    background: hsl(205, 95%, 85%);
    color: hsl(205, 80%, 10%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    border-style: ridge;
    border-width: medium;
    border-radius: 8px;
    border-color: hsl(205, 95%, 70%);
}

.blog-post-header {
  display: flex;
  flex-direction: row;
}

.blog-post h2 {
    margin-top: 0;
    padding-top: 25px;
    margin-left: 6px;
    flex-grow: 5;
    color: rgba(124, 126, 128);
    text-decoration: underline;
}

.blog-post hr {
  width: 100%;
}

.blog-thumbnail {
  height: 75px;
  min-height: 50px;
  flex-shrink: 1;
}

.blog-thumbnail-fullsize {
  width: 70vw;
}

.blog-post-timestamps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-post-edited {
  color: red;
  font-weight: bold;
}

.blog-header {
  display: inline-flex;
}

.blog-post-add {
  display: inline-flex;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.blog-post-add.material-symbols-outlined {
  font-size: 35px;
}

.hover-add::before {
  content: "add";
}

.hover-add:hover::before {
  content: "add_circle";
}

pre {
  font-family: Consolas,"courier new";
  color: #b0b0cc;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 120%;
  background-image: -webkit-linear-gradient(#555 50%, #505050 50%);
  background-image:    -moz-linear-gradient(#555 50%, #505050 50%);
  background-image:     -ms-linear-gradient(#555 50%, #505050 50%);
  background-image:      -o-linear-gradient(#555 50%, #505050 50%);
  background-image:         linear-gradient(#555 50%, #505050 50%);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 1em 3em;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: scroll;
}

#rcon-response {
  height: 420px;
  width: 406px;
  margin-bottom: 3px;
}

#mc-connect {
  margin-top: 14px;
}

#rcon-query {
  background-color: #75899d;
  min-width: 20px;
  margin: 8px;
  box-shadow: inset 7px 7px 3px 8px rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  padding-left: 22px;
}

#rcon-query-players {
  background-color: #f1f1f1;
  color: #333;
}

#rcon-query-players tr:nth-child(even) {
  background-color: #5F5F5F;
}
