I'm Jeff, and this is "turing complete jeff", a site I built as both a
portfolio and a creative outlet to share my projects.
<br /><br />
From a young age, I was fascinated with taking things apart and
putting them back together. When I was first introduced to computers, I saw
an entire universe of possibilites. 
<br /><br />
In high school, I pursued networking and was captivated by the complexity
of computing at every layer. 
<br /><br />
Afterward, I attended <a href="https://www.mst.edu/">Missouri
University of Science & Technology</a>, where I explored electronics, 
engineering, and computer science. There, I learned to build robust 
algorithms and the hardware to support them. I became treasurer of the local
<a href="https://www.acm.org/">ACM</a> chapter, and joined a 
cyber security club. In both groups, I collaborated with other
students to run hands-on workshops and facilitated presentations from guest
speakers on campus. 
<br /><br />
After graduating, I put my algorithms and software engineering skills to the
test at <a href="https://www.oreillyauto.com/">O'Reilly Auto</a>. For much
of my career there, I supported internal business analysts by designing 
new web apps and maintaining existing ones. Many of these applications
relied on SQL to handle large, continuous streams of parts data, 
delivering it to analysts through streamlined workflows and dashboards. 
<br /><br />
<!-- [ yoga - intro ]
<br /><br />
[ yoga - pt 2 ]
<br /><br />
[ teaching hs ]
<br /><br />
[ a long summer ]
<br /><br /> -->
The name of my site is inspired by Alan Turing’s idea of Turing completeness
— a property of systems that can perform any computable function. For me, it’s
both a nod to the foundations of computer science, and a reflection of my own 
journey: building software, hardware, &amp; systems capable of tackling complex
problems. I like to think of myself as "Turing complete" too: I can compute,
write algorithms, and build the systems to compute the functions that are 
beyond my own abilities.
