From a young age, I have always been interested in taking things apart and
putting them back together. When I was first introduced to computers, I saw
a universe of possibilites. 
<br /><br />
Throughout high school, I pursued networking, finding the endless complexity
at every layer of computing. 
<br /><br />
After high school, I went to <a href="https://www.mst.edu/">Missouri
University of Science & Technology</a>, where I dove into electronics, 
engineering, and of course computer science. Here, I learned to build robust 
algorithms and the hardware with which to run it. I joined the local chapter of
<a href="https://www.acm.org/">ACM</a>, serving as its treasurer, and joined a 
cyber security club. In both of these groups, I collaborated with other
students to run practical workshops and facilitated presentations from guest speakers on campus. 
<br /><br />
After graduating, I put my algorithms & software engineering skills to the
test at <a href="https://www.oreillyauto.com/">O'Reilly Auto</a>. For the
majority of my career here, I supported internal business analysts by designing 
new web apps and maintaining existing ones. Many of the apps I built here used
SQL to conquer large, constant streams of part data, bringing them to 
analysts's fingertips in simple workflows and dashboards. 
<br /><br />
[ yoga - intro ]
<br /><br />
[ yoga - pt 2 ]
<br /><br />
[ teaching hs ]
<br /><br />
[ a long summer ]