{% from "macros/fields.html" import render_text_field, render_select, render_textarea %}

{% extends "layout.html" %}

{% block title %}contact{% endblock %}

{% block js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
<script src="{{ url_for('static', filename='js/phone-mask.js') }}"></script>
{% endblock %}

{% block content %}
<div class="blog-post-strip">
<h1 class="blog-header">contact form</h1>
<div class="blog-post">
    <form method="POST" action="/contact">
      {{ form.hidden_tag() }}
      {{ render_text_field(form.name) }}
      {{ render_text_field(form.email) }}
      {{ render_text_field(form.phone, placeholder="(888) 888-8888") }}
      {{ render_select(form.reason) }}
      {{ render_text_field(form.other_reason, placeholder="Please specify...") }}
      {{ render_textarea(form.message) }}
      <hr />
      {{ form.submit(class_="form__submit clicky-success") }}
      <hr />
      or connect with me here:<br />
      <span class="contact-social-icons">
      [ <img src="/static/img/github-mark.png" />&nbsp;<a href="https://github.com/turingcompletejeff">GitHub</a> ]
      [ <img src="/static/img/LI-In-Bug.png" />&nbsp;<a href="https://www.linkedin.com/in/jeffrey-rodgers-4a4a05379/">LinkedIn</a> ]
      [ <img src="/static/img/gmail-new.png" />&nbsp;<a href="mailto:turingcompletejeff@gmail.com" target="_blank">Gmail</a> ]
      </span>
    </div>
</div>
</div>
<div id="right-sidebar">&nbsp;</div>
{% endblock %}
{% block endjs %}
<script src="{{ url_for('static', filename='js/contact-form.js') }}"></script>
{% endblock %}
