{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="blog-post">
  <form action="{{ url_for('blogpost_bp.edit_post', post_id=post.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <h2><input type="text" name="title" value="{{ post.title }}" /></h2>
    <textarea name="content" rows="20" cols="50">{{ post.content }}</textarea>
    
    {% if post.portrait %}
    <img class="blog-portrait" src="{{ url_for('main_bp.uploaded_file', filename=post.portrait) }}" />
    {% endif %}
    <hr />
    <div class="blog-post-timestamps">
      <button type="submit">save</button>
      <small >Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.hasEdits() %}
      <small class="blog-post-edited">Edited on {{ post.last_updated.strftime('%Y-%m-%d %H:%M') }}</small>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}
