<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My BlAg{% endblock %}</title>
    
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- JqueryUI -->
    <script src="{{ url_for('static', filename='js/jquery-ui-1.14.0.custom/jquery-ui.min.js') }}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.14.0.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.14.0.custom/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.14.0.custom/jquery-ui.theme.min.css') }}">
    <!-- using `weight: 100, optical size: 20, dark mode and filled icons` -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,0,200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,1,0" />
    <!-- END EXTERNAL IMPORTS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block js %}
    {% endblock%}
</head>
<body>
  <!-- Main container -->
  <div id="main-container">
    <!-- Image banner at the top -->
    <header id="main-header">
        <span id="banner">&nbsp;</span>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <div class="flash-messages">
		    {% for category, message in messages %}
		      <div class="alert alert-{{ category }}">
			      {{ message }}
			      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
		      </div>
		    {% endfor %}
	    </div>
	  {% endif %}
	{% endwith %}
    </header>

    <div class="main-content">
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul>
		{% if current_user.is_authenticated %}
		<li>welcome, {{ current_user.username }}</li>
		<li><a href="{{ url_for('auth.logout') }}">logout</a></li>
		{% else %}
		<li><a href="{{ url_for('auth.login') }}">login</a></li>
		{% endif %}
		<hr />
                <li><a href="{{ url_for('main_bp.index') }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
		{% if current_user.is_authenticated %}
                <li><a href="{{ url_for('mc_bp.index') }}">minecraf</a></li>
		<li><a href="/tv">tv</a></li>
		{% endif %}
            </ul>
        </nav>

        <!-- Main content area -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        <div id="right-sidebar">
          {% block rightsidebar %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer id="main-footer">
        <p>&copy; 2024 My Blaorg</p>
    </footer>
  </div>
</body>
{% block endjs %}
{% endblock %}
</html>
