{% extends "layout.html" %}

{% block title %}login{% endblock %}

{% block content %}
	<div class="form-container">
		<h2>Login</h2>
		<form method="POST">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<label>username</label>
			<input type="text" name="username" required>

			<label>password</label>
			<input type="password" name="password" required>

			<button type="submit" class="duolingo-primary">log in</button>
		</form>
		{% if registration_enabled %}
		<p>or <a href="{{ url_for('auth.register') }}">register here</a></p>
		{% endif %}
	</div>
{% endblock %}
