{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="blog-post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content |safe}}</p>
    <img class="blog-thumbnail-fullsize" src="/static/img/{{ post.thumbnail }}" />
    <hr />
    <div class="blog-post-timestamps">
      <small >Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.hasEdits() %}
      <small class="blog-post-edited">Edited on {{ post.last_updated.strftime('%Y-%m-%d %H:%M') }}</small>
      {% endif %}
    </div>
</div>

{% endblock %}