{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="blog-post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content |safe}}</p>
    {% if post.portrait %}
    <img class="blog-portrait" src="{{ url_for('main_bp.uploaded_file', filename=post.portrait) }}" />
    {% endif %}
    <hr />
    <div class="blog-post-timestamps">
      <small >Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.hasEdits() %}
      <small class="blog-post-edited">Edited on {{ post.last_updated|localtime }}</small>
      {% endif %}
    </div>
</div>

{% endblock %}
